
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- referencia para a folha de estilos do bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body class="container">
    <div> 

        <h1>Sistema de Controle de Funcionários</h1>
        <hr/>

        Escolha a opção desejada:

        <ul>
            <li> <a href="/Funcionario/Cadastro">Cadastrar Funcionários</a> </li>
            <li> <a href="/Funcionario/Consulta">Consultar Funcionários</a> </li>
        </ul>

        <ul>
            <li> <a href="/Dependente/Cadastro">Cadastrar Dependentes</a> </li>
            <li> <a href="/Dependente/Consulta">Consultar Dependentes</a> </li>
        </ul>

    </div>
</body>
</html>
